* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EDF6F9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #05668D;
    height: 70px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    /* width: ; */
}

#site-title {
    color: #00A896;
    font-size: 45px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 5px;
}

#user {
    color: #EDF6F9;
    width: 125px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

#log-out {
    font-size: 14px;
    color: #EDF6F9;
    cursor: pointer;
    padding-bottom: 9px;
}
section {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#my-patients {
    width: 60%; /* Adjust the width as needed */
}

#add-patient {
    width: 40%
}

#add-patient fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    min-width: fit-content;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#orders {
    height: 100px; /* Set a fixed height for the orders select box */
}

.completeBtn {
    display: block;
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    width: 85px;
    height: 35px;
}

.ptDiv {
    /* border: 1px solid #ccc; */
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
}

.ptContainer {
    display: flex;
    flex-direction: column;
}

.order-checkbox-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
}

.order-checkbox-container input {
    margin-right: 5px;
}

.orders-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid purple;
    width: 300px;
    
}

.debug-box {
    background-color: #05668D;
    border: 1px solid black;
}

/* @media (max-width: 500px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
}

@media (min-width: 501px) {
    section {
        display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    }
} */




